@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant hover (&:hover);

.border-content {
  @apply border-[var(--p-content-border-color)];
}

.p-confirmdialog-message {
  white-space: normal !important;
  word-wrap: break-word !important;
}

/* DataTable */
.p-datatable {
  white-space: nowrap;
}

/* center text horizontally within cells */
.p-datatable-tbody > tr > td,
.p-datatable-thead > tr > th {
  @apply text-center;
}

/* make column header take full width for centering */
.p-datatable-column-header-content {
  @apply block;
}
