[Unit]
Description=NBA Wins Pool Github Runner
After=network.target

[Service]
Type=simple
TimeoutStopSec=20
Restart=always
RestartSec=30
ExecStart=</path/to/actions-runner/run.sh>

[Install]
WantedBy=default.target
