# Main service to start/stop all other services
[Unit]
Description=NBA Wins Pool Application
Requires=nbawinspool-webhook-listener.service

[Service]
ExecStart=uv run nbawinspool_deploy path/to/deploy/dir
