[Unit]
Description=NBA Wins Pool Application
After=network.target

[Service]
Type=simple
TimeoutStopSec=20
Restart=always
RestartSec=30
WorkingDirectory=<path/to/github_runner/workdir>/nba-wins-pool/deploy
ExecStart=make prod

[Install]
WantedBy=default.target
